body {
	margin: 0;
	font-family: "Rubik", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	background: rgb(9, 9, 121);
	background: linear-gradient(
		142deg,
		rgba(9, 9, 121, 1) 55%,
		rgba(0, 212, 255, 1) 55%
	);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
