.JokeScore {
	display: flex;
	align-items: center;
	width: fit-content;
	height: 100%;
	margin: auto 15px;
}

.JokeScore span {
	border: 3px solid;
	border-radius: 50%;
	padding: 5px;
	margin: 0 10px;
}

.JokeScore button {
	background: none;
	border: none;
	font-size: 26px;
	color: darkgrey;
	cursor: pointer;
}
